color-transformation-list{


  li.list-group-item{

    display: flex;
    margin: 2px;
    border-radius: 7px;

    background: white;
    transition: background-color 0.5s ease; //set the background color to alwys transition when set

    &:hover{
      background-color: #e0eef7;
    }

    >input{
      background-color: inherit;
    }

    .edit-entry,
    .remove-entry{
      outline: none;
      border: none;
      background: none;

      i.fa{
        display: inline-block;
        padding: 5px;
        font-size: 1.5em;
      }
    }

    .edit-entry{
      i.fa{
        color: #888892;
        &:hover{
          color: blue;
        }

      }
    }

    .remove-entry{
      i.fa{
        color: #90331a;
      }
    }

    //hover the trash icon.
    .remove-entry i{
      &:hover{
        color: #b0121d;
        &:before {
          content:"\f1f8";
        }
      }
    }

    >input[type="text"]{
      border: 1px solid transparent;
      margin: 2px;
      padding: 5px;
      line-height: 2.3em;
      border-radius: 3px;
      font-size: 18px;
      width: 180px;

      &.range{
        font-weight: 800;
      }

      &:read-only{
        color: #595959;
      }


    }
  }

  li.editable{

    >input[type="text"]{
      border: 1px dotted lightgray;
      background-color:  lightyellow;
      //border-bottom:1px solid #ffd577;
      box-shadow: inset 0 0 2px #2196F3;
    }

    .edit-entry{
      i.fa{
        color: #2e57bb;
      }
    }
  }

  .application-messages{
    color:#AD310B;
    min-height: 2em;
  }

}

form{
  display: inline-block;
  margin: 7px;
  input{
    border: 1px solid lightblue;
    padding: 6px;
    line-height: 2em;
    border-radius: 3px;
    font-size: 19px;
    width: 167px;
  }
  button{
    border: none;
    border-radius: 4px;
    background: none;
    color: white;
    font-size: 16px;
    &#formReset{
    background-color: dodgerblue;

  }
    &#addBtn{
      background-color: #33ad1f;
    }
    &:disabled{
      background-color: gray!important;
      opacity: .4;
    }
    >i{
      font-size: inherit;
    }

  }
}

.warn{
  background-color: rgb(255, 192, 74) !important;
};

.error{
  background-color: rgb(226, 103, 80) !important;
};

.feedback{
  background-color: #9aacd8 !important;
};
