color-transformation-list{

  ul{
    display: table;
    width: 100%;

    >*{
      display: table-row !important;
      width: 100%;

      &.invalid{
        >*{
          //opacity:0.5;
          background-color: rgba(255, 0, 0, 0.36);
        }
      }


      >*{
        display: table-cell;
        padding: 5px;
        &.range{}
      }

    }

  }






}
