body {
  padding-top: 70px;
  background-color: #f6f7fb !important;
}

section {
  margin: 0 20px;
}

a:focus {
  outline: none;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.flex-row{
  display: flex;
  justify-content: space-around;
  >*{
    flex-grow: 1;

  }
  padding: 10px;

}

.vcard{
  display: block;
  max-width: 480px;
  min-width: 180px;
  background-color: white;

  padding:10px;
  margin: auto;
  box-shadow: 0 0 4px gray;
}


.panel {
  margin: 20px;
}

.button-bar {
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background: white;
}

.button-bar > button {
  float: right;
  margin: 20px;
}

li.list-group-item {
  list-style: none;
}

li.list-group-item > a {
  text-decoration: none;
}

li.list-group-item.active > a {
  color: white;
}
