@import "main";
@import "product-list";
@import "color-transformation";

//debuggubg interface
router-view{
  display: block;
  border:1px solid red;
}

color-transformation-list,
product-list,
contact-list{
  display: block;
  border:1px solid green;
}


